@media (max-width: 1365px) {
  .layout {
    grid-template-areas:
      'nav nav'
      'content content'
      'aside aside';

    grid-template-columns: 50% 50%;
  }

  .aside__container {
    display: flex;
    flex-direction: row;
  }

  .layout__aside {
    margin-left: 2rem;
    padding-bottom: 2rem;
  }

  .aside__profile-info {
    margin-right: 2rem;
  }
}

@media (max-width: 825px) {
  .aside__profile-info {
    width: 100%;
  }

  .profile-info__general-info {
    justify-content: center;
  }

  .profile-info__stats {
    justify-content: center;
  }

  .aside__container {
    flex-direction: column;
  }
  .menu-list__link {
    padding: 0.3rem;
    flex-direction: column;
  }
  .span .menu-list__title {
    text-align: center;
  }
  .list-end__link {
    padding: 0.4rem;
    flex-direction: column;
  }
}

@media (max-width: 690px) {
  .layout {
    grid-template-rows: auto auto auto;
  }

  .layout__navbar {
    display: flex;
    justify-content: space-between;
    padding: 2rem;
  }
  .navbar__container-lists {
    display: none;
  }
  .menu-hamburger {
    display: flex;
  }
}

@media (max-width: 447px) {
  .profile-info__stats {
    font-size: 1.2rem;
  }
  .post__content {
    font-size: 1.4rem;
  }
  .posts__post {
    flex-direction: column;
    align-items: flex-start;
  }
  .post__image-publication img {
    max-height: 700px;
  }
  .nav-hamburger-open {
    width: 70%;
  }
}
